<%-include ('./adminHeader.ejs') %>
<style>
  .order-graph-chart {
    width: 100%;   
    height: 200px; 
    border: 1px solid #1e0202;
    padding: 10px;
    background-color: #201f24;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
</style>
 
 <!-- partial -->
 <div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/static/admin/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>

      
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-format-line-spacing"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0" ><%= revenue.toFixed(2) %></h3>
                  </div>
                </div>
                <div class="col-3">
                  <% if(revenue < 10000) {%>
                    <div class="icon icon-box-danger ">
                      <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                    </div>
                    <%} else {%>
                    <div class="icon icon-box-success">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                    <% } %>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Total Revenue</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0"><%= totalDiscount %></h3>
                  </div>
                </div>
                <div class="col-3">
                  <% if(totalDiscount < 3000) {%>
                    <div class="icon icon-box-danger ">
                      <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                    </div>
                    <%} else {%>
                    <div class="icon icon-box-success">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                    <% } %>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Total Discount</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0"><%= TotalOrderedAmount %>  </h3>
                    <h3 class="mb-0" id="pendingOrders" hidden><%= pendingOrders %></h3>
                  </div>
                </div>
                <div class="col-3">
                  <% if(TotalOrderedAmount < 20000) {%>
                    <div class="icon icon-box-danger ">
                      <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                    </div>
                    <%} else {%>
                    <div class="icon icon-box-success">
                      <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                    <% } %>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Gross revenue</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="d-flex align-items-center align-self-start">
                    <h3 class="mb-0"><%= totalOrders %> </h3>
                    <h3 class="mb-0" id="shippedOrders" hidden><%= shippedOrders %></h3>
                    <h3 id="deliveredOrders" hidden><%= deliveredOrders %></h3>
                    <h3 id="canceledOrders" hidden><%= canceledOrders %></h3>
                    <h3 id="returnedOrders" hidden><%= returnedOrders %></h3>
                  </div>
                </div>
                <div class="col-3">
                  <% if(totalOrders < 24) {%>
                  <div class="icon icon-box-danger ">
                    <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                  </div>
                  <%} else {%>
                  <div class="icon icon-box-success">
                    <span class="mdi mdi-arrow-top-right icon-item"></span>
                  </div>
                  <% } %>
                </div>
              </div>
              <h6 class="text-muted font-weight-normal">Total orders</h6>
            </div>
          </div>
        </div>
      </div>
    
     <div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Transaction Summary</h4>

        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
          <div class="text-md-center text-xl-left">
            <h6 class="mb-1">Total UPI Payments</h6>
          </div>
          <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
            <h6 class="font-weight-bold mb-0"><%= razorpayRevenue %></h6>
          </div>
        </div>

        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
          <div class="text-md-center text-xl-left">
            <h6 class="mb-1">Total Sales Volume</h6>
          </div>
          <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
            <h6 class="font-weight-bold mb-0"><%= deliveredOrders %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div>
            <h4 class="card-title mb-0">Order Graph</h4>
          </div>
          <div>
            <button class="btn btn-sm btn-primary" id="DailyBtn">Daily</button>
            <button class="btn btn-sm btn-primary" id="weeklyBtn">Weekly</button>
            <button class="btn btn-sm btn-primary" id="monthlyBtn">Monthly</button>
            <button class="btn btn-sm btn-primary" id="yearlyBtn">Yearly</button>
          </div>
        </div>
        <div class="mb-4">
          <h6 class="font-weight-bold mb-0">Total Revenue: <span id="totalRevenue"></span></h6>
        </div>
        <canvas id="order-graph" class="order-graph-chart"></canvas>
      </div>
    </div>
  </div>
  
</div>

      <div class="row">
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Top Products</h5>
              <div class="row" style="height: 200px;">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"></h2>
                    <p class="text-danger ms-2 mb-0 font-weight-medium"></p>
                  </div>
                  <% topProducts.forEach(item=> {%>
                  <h6 class="text-muted font-weight-normal"><%= item.name %></h6>
                  <% }) %>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-cart-outline text-danger ms-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Top Categories</h5>
              <div class="row" style="height: 200px;">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"></h2>
                    <p class="text-success ms-2 mb-0 font-weight-medium"></p>
                  </div>
                  <% topCategory.forEach(item=> {%>
                  <h6 class="text-muted font-weight-normal"> <%= item.name %></h6>
                  <% }) %>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-playlist-play text-warning ms-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Top Brands</h5>
              <div class="row" style="height: 200px;">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"></h2>
                    <p class="text-danger ms-2 mb-0 font-weight-medium"> </p>
                  </div>
                  <% topBrands.forEach(item=> {%>
                    <h6 class="text-muted font-weight-normal"> <%= item.name %></h6>
                    <% }) %>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-blogger text-success ms-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <footer class="footer">
    
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
 document.addEventListener('DOMContentLoaded', function () {
    const shippedOrdersElement = document.getElementById("shippedOrders");
    const shippedOrders = shippedOrdersElement ? parseInt(shippedOrdersElement.innerText.trim(), 10) : 0;

    const pendingOrdersElement = document.getElementById("pendingOrders");
    const pendingOrders = pendingOrdersElement ? parseInt(pendingOrdersElement.innerText.trim(), 10) : 0;

    const deliveredOrdersElement = document.getElementById("deliveredOrders");
    const deliveredOrders = deliveredOrdersElement ? parseInt(deliveredOrdersElement.innerText.trim(), 10) : 0;

    const canceledOrdersElement = document.getElementById("canceledOrders");
    const canceledOrders = canceledOrdersElement ? parseInt(canceledOrdersElement.innerText.trim(), 10) : 0;

    const returnedOrdersElement = document.getElementById("returnedOrders");
    const returnedOrders = returnedOrdersElement ? parseInt(returnedOrdersElement.innerText.trim(), 10) : 0;

    let totalRevenue = 0;

    function updateTotalRevenue(revenue) {
        totalRevenue = revenue;
        document.getElementById('totalRevenue').innerText = `${totalRevenue.toLocaleString()}`;
    }

    const ctx = document.getElementById('order-graph').getContext('2d');

    const data = {
        labels: ['Pending', 'Shipped', 'Delivered', 'Canceled', 'Returned'],
        datasets: [{
            label: 'Order Statuses',
            data: [pendingOrders, shippedOrders, deliveredOrders, canceledOrders, returnedOrders],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    };

    const options = {
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    color: 'white'
                }
            },
            x: {
                ticks: {
                    color: 'white'
                }
            }
        },
        plugins: {
            legend: {
                labels: {
                    color: 'white'
                }
            }
        }
    };

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });

    document.getElementById('weeklyBtn').addEventListener('click', async function() {
    try {
      
        const response = await fetch('/admin/DashboardWeekly');
        if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
        }
         const data = await response.json(); 

        if (response.ok) {
            updateTotalRevenue(data.revenue);

            myChart.data.datasets[0].data = [
                data.orderCounts.pending,
                data.orderCounts.shipped,
                data.orderCounts.delivered,
                data.orderCounts.canceled,
                data.orderCounts.returned
            ];

            myChart.update();
        } else {
            console.error('Failed to fetch weekly data:', data.error);
        }
    } catch (error) {
        console.error('Error fetching weekly data:', error);
    }
});


document.getElementById('monthlyBtn').addEventListener('click', async function() {
    try {
      
        const response = await fetch('/admin/DashboardMonthly');
        if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
        }
         const data = await response.json(); 

        if (response.ok) {
            updateTotalRevenue(data.revenue);

            myChart.data.datasets[0].data = [
                data.orderCounts.pending,
                data.orderCounts.shipped,
                data.orderCounts.delivered,
                data.orderCounts.canceled,
                data.orderCounts.returned
            ];

            myChart.update();
        } else {
            console.error('Failed to fetch weekly data:', data.error);
        }
    } catch (error) {
        console.error('Error fetching weekly data:', error);
    }
});

    document.getElementById('yearlyBtn').addEventListener('click', async function() {
    try {
      
        const response = await fetch('/admin/DashboardYearly');
        if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
        }
         const data = await response.json(); 

        if (response.ok) {
            updateTotalRevenue(data.revenue);

            myChart.data.datasets[0].data = [
                data.orderCounts.pending,
                data.orderCounts.shipped,
                data.orderCounts.delivered,
                data.orderCounts.canceled,
                data.orderCounts.returned
            ];

            myChart.update();
        } else {
            console.error('Failed to fetch weekly data:', data.error);
        }
    } catch (error) {
        console.error('Error fetching weekly data:', error);
    }
});
document.getElementById('DailyBtn').addEventListener('click', async function() {
    try {
      
        const response = await fetch('/admin/DashboardDaily');
        if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
        }
         const data = await response.json(); 

        if (response.ok) {
            updateTotalRevenue(data.revenue);

            myChart.data.datasets[0].data = [
                data.orderCounts.pending,
                data.orderCounts.shipped,
                data.orderCounts.delivered,
                data.orderCounts.canceled,
                data.orderCounts.returned
            ];

            myChart.update();
        } else {
            console.error('Failed to fetch weekly data:', data.error);
        }
    } catch (error) {
        console.error('Error fetching weekly data:', error);
    }
});

});

</script>

<%-include ('./adminFooter.ejs') %>