<%- include('./adminHeader.ejs') %>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Table</h4>
        <p class="card-description"> Add class <code>.table-striped</code>
            <div class="table-responsive">
            
        </p>
        <div class="table-responsive" style="width: 80%;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> image </th>
                <th> Name </th>
                <th> Brand </th>
                <th> Price </th>
                <th> Category </th>
                <th>Action </th>
              </tr>
            </thead>
            <tbody>
                <% for(let i=0;i<product.length;i++){ %>
              <tr>
                <td class="py-1" style="color: aliceblue;">
                  <img src="/static/productImages/<%= product[i].image[0] %>" alt="image" style="width: 70px;height: 70px;">
                </td>
                <td style="color: aliceblue;"> <%= product[i].name %> </td>
                <td style="color: aliceblue;"><%= product[i].brand %></td>
                <td style="color: aliceblue;"> ₹<%= product[i].price %> </td>
                <td style="color: aliceblue;"> <%= product[i].category %> </td>
                <td style="color: aliceblue;">
                    <button class="btn btn-success delete-btn" style="background-color: green;" data-id="<%= product[i]._id %>">List</button>
                </td>
              </tr>
         <% } %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
<script>
  document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', function() {
        const productId = this.getAttribute('data-id');       
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to recover this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Recover it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/admin/recoverProducts?id=${productId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        // Handle successful recovery, e.g., refresh the page
                        Swal.fire(
                            'Recovered!',
                            'The product has been recovered.',
                            'success'
                        ).then(() => {
                            window.location.reload();
                        });
                    } else {
                        console.error('Error:', response.statusText);
                    }
                }).catch(error => console.error('Error:', error));
            }
        });
    });
});
</script>
<%- include('./adminFooter.ejs') %>