


<%- include('./adminHeader.ejs') %>


<div class="col-lg-12 grid-margin stretch-card" style="width: 80%;">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Table</h4>
        <br>
        </p>
        <div class="table-responsive">
          <table class="table table-striped" >
            <thead>
              <tr>
                <th>No</th>
                <th> Name</th>
                <th> email </th>
                <th> Status </th>
              </tr>
            </thead>

            <tbody>
   
                <% for(let i=0;i<users.length;i++){%>

              <tr>
                <td style="color: aliceblue;"> <%= i+1%></td>
                <td style="color: aliceblue;"> <%=users[i].name%> </td>
                <td style="color: aliceblue;"> <%=users[i].email%> </td>
                <td style="color: aliceblue;"> 
                  <% if (users[i].is_blocked) { %> 
                    <button onclick="confirmUnblock('<%= users[i]._id %>')" class="btn btn-danger">Unblock</button>
                  <% } else { %>
                    <button onclick="confirmBlock('<%= users[i]._id %>')" class="btn btn-primary" style="width: 82px;">Block</button>
                  <% } %>
                </td>
                
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function confirmBlock(userId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You are about to block this user.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, block!",
      cancelButtonText: "Cancel",
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        
        fetch('/admin/block', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ user_id: userId })
        })
        .then(response => {
          if (response.ok) {
            return response.json();
          }
          throw new Error('Network response was not ok.');
        })
        .then(data => {
       
          Swal.fire({
            title: "Blocked!",
            text: "User has been blocked.",
            icon: "success"
          }).then(() => {
            location.reload(); 
          });
        })
        .catch(error => {
          console.error('Error:', error);
          swalWithBootstrapButtons.fire({
            title: "Error",
            text: "Failed to block user.",
            icon: "error"
          });
        });
      } else if (
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire({
          title: "Cancelled",
          text: "User was not blocked.",
          icon: "error"
        });
      }
    });
  }

  function confirmUnblock(userId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You are about to unblock this user.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, unblock!",
      cancelButtonText: "Cancel",
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
      
        fetch('/admin/unblock', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ user_id: userId })
        })
        .then(response => {
          if (response.ok) {
            return response.json();
          }
          throw new Error('Network response was not ok.');
        })
        .then(data => {
        
          Swal.fire({
            title: "Unblocked!",
            text: "User has been unblocked.",
            icon: "success"
          }).then(() => {
            location.reload(); 
          });
        })
        .catch(error => {
          console.error('Error:', error);
          swalWithBootstrapButtons.fire({
            title: "Error",
            text: "Failed to unblock user.",
            icon: "error"
          });
        });
      } else if (
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire({
          title: "Cancelled",
          text: "User was not unblocked.",
          icon: "error"
        });
      }
    });
  }
</script>


<%- include('./adminFooter.ejs') %>

