<%- include('./header.ejs') %>


<div class="hero-wrap hero-bread" style="background-image: url('/static/user/images/bg_6.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html" style="text-decoration: none;" !important>Home</a></span> <span>Products</span></p>
        <h1 class="mb-0 bread">Product Shop</h1>
      </div>
    </div>
  </div>
</div>


<div class="breadcrumbs" >
  <div class="container">
      <div class="row">
          <div class="col">
              <p class="bread"><span><a href="/" style="color: rgb(142, 142, 142);text-decoration: none;">Home</a></span> / <span style="color: rgb(142, 142, 142);">Product Shop</span></p>
          </div>
      </div>
   </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
     
        <div class="row">
            <div class="col-md-8 col-lg-10 order-md-last">
                
                <div class="row">
                    <% for (let i=0; i<product.length; i++){ %>
                    <div class="col-sm-6 col-md-6 col-lg-4 ftco-animate">
                       
                        <div class="product">
                            <a href="/productDetails?id=<%= product[i]._id %>" class="img-prod"><img class="img-fluid" src="/static/productImages/<%= product[i].image[0] %>" alt="Colorlib Template">
                                <!-- <span class="status">30%</span> -->
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 px-3">
                                <h3><a href="#" style="text-decoration: none !important;"><%= product[i].name%></a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="price-sale">₹<%= product[i].price%></span></p>
                                    </div>
                                  
                                </div>
                                
                                <p class="bottom-area d-flex px-3">
                                    <a href="#" class="add-to-cart text-center py-2 mr-1" style="text-decoration: none !important;"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                    <a href="#" class="buy-now text-center py-2" style="text-decoration: none !important;">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                </p>
                                <div class="pricing" style="width: 100%;">
                                    <h6 class="price" style="color: rgb(76, 75, 75);"><span class="price-sale"><%= product[i].discription%></span></h6>
                                </div>
                            </div>
                           
                        </div>
                       
                    </div>
                    <%}%>
                  
                  
                </div>
                <div class="row mt-5">
              <div class="col text-center">
                <div class="block-27">
                  <ul>
                    <li><a href="#" style="text-decoration: none !important;">&lt;</a></li>
                    <li class="active" style="text-decoration: none !important;"><span>1</span></li>
                    <li><a href="#" style="text-decoration: none !important;">2</a></li>
                    <li><a href="#" style="text-decoration: none !important;">3</a></li>
                    <li><a href="#" style="text-decoration: none !important;">4</a></li>
                    <li><a href="#" style="text-decoration: none !important;">5</a></li>
                    <li><a href="#" style="text-decoration: none !important;">&gt;</a></li>
                  </ul>
                </div>
              </div>
            </div>
            </div>

            <div class="col-md-4 col-lg-2 sidebar">
                <div class="sidebar-box-2">
                    <h2 class="heading mb-4"><a href="#" style="text-decoration: none !important;">Category</a></h2>
                    <ul>
                        <li><a href="#" style="text-decoration: none !important;">Leather &amp; cotton</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Full black bags</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Sling bags &amp; purse</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Tote bags</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Clutch purse</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Shoulder bags</a></li>
                    </ul>
                </div>
                <div class="sidebar-box-2">
                    <h2 class="heading mb-4"><a href="#" style="text-decoration: none !important;">Brands</a></h2>
                    <ul>
                        <li><a href="#" style="text-decoration: none !important;">Lavie</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Baggit</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Gucci</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Fendi</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Louis Vuitton</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Chanel</a></li>
                            <li><a href="#" style="text-decoration: none !important;">Prada</a></li>
                    </ul>
                </div>
                <div class="sidebar-box-2">
                    <h2 class="heading mb-2"><a href="#" style="text-decoration: none !important;">Bags</a></h2>
                    <h2 class="heading mb-2"><a href="#" style="text-decoration: none !important;">Accessories</a></h2>
                </div>
                <div class="sidebar-box-2">
                  <h2 class="heading mb-4"><a href="#" style="text-decoration: none !important;">Price Filter</a></h2>
                  <ul>
                      <li><a href="#" style="text-decoration: none !important;">Under ₹800</a></li>
                      <li><a href="#" style="text-decoration: none !important;">₹800 - ₹1200</a></li>
                      <li><a href="#" style="text-decoration: none !important;">₹1200 - ₹1800</a></li>
                      <li><a href="#" style="text-decoration: none !important;">₹1800 - ₹2500</a></li>
                      <li><a href="#" style="text-decoration: none !important;">₹2500 - ₹3000</a></li>
                      <li><a href="#" style="text-decoration: none !important;">Above ₹3000</a></li>
                  </ul>
              </div>
              
            </div>
        </div>
    </div>
</section>

<footer class="ftco-footer bg-light ftco-section">
  <div class="container">
      <div class="row">
          <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
      </div>
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Winkel</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Menu</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Shop</a></li>
            <li><a href="#" class="py-2 d-block">About</a></li>
            <li><a href="#" class="py-2 d-block">Journal</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Help</h2>
          <div class="d-flex">
              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
              </ul>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">FAQs</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
      </div>
    </div>
  </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/static/user/js/jquery.min.js"></script>
<script src="/static/user/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/static/user/js/popper.min.js"></script>
<script src="/static/user/js/bootstrap.min.js"></script>
<script src="/static/user/js/jquery.easing.1.3.js"></script>
<script src="/static/user/js/jquery.waypoints.min.js"></script>
<script src="/static/user/js/jquery.stellar.min.js"></script>
<script src="/static/user/js/owl.carousel.min.js"></script>
<script src="/static/user/js/jquery.magnific-popup.min.js"></script>
<script src="/static/user/js/aos.js"></script>
<script src="/static/user/js/jquery.animateNumber.min.js"></script>
<script src="/static/user/js/bootstrap-datepicker.js"></script>
<script src="/static/user/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/static/user/js/google-map.js"></script>
<script src="/static/user/js/main.js"></script>

<%- include('./footer.ejs') %>
